@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: gainsboro;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  padding: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav > div {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

nav > div a:hover {
  color: inherit;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  margin-bottom: 0;

}

nav ul li a {
  padding: 10px;
  
}

nav ul li {
  margin: 0 15px;
  padding: 5px;
}

.li-borders {
  border: solid white 0.1px;
}

nav ul li:hover { 
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
}

nav a:hover {
  color: inherit;
}


@media only screen and (max-width: 861px) {

  nav > div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }

}

.container {
  margin-top: 100px;
}

.second-p {
  width: 100%;
  height: 100vh;
}

.welcome {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alex {
  position: absolute;
  bottom: -7px;
  right: 0;
}

.welcome h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

footer {
  background-color: rgb(240, 240, 240);
  z-index: 1;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-name p {
  margin: 0;
  text-align: center;
}

.footer-name p:first-child{
  font-size: 17px;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.icon {
  background-color: black;
  margin: 7px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .8s cubic-bezier(.175,.885,.32,1.275);
  border: 1px solid white;
}

.icon:hover {
  -webkit-filter: invert(100%);

}

.icon img{
  -webkit-filter: invert(100%);
}

.work h1 {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  max-width: 350px;
  padding: 0;
  margin: 15px;
}

.project div {
  background-color: black;
  padding: 5px;
}

.project div p {
  color: white;
  margin: 0;
}

.project img {
  width: 350px;
  height: 200px;
}


@media only screen and (max-width: 992px) {

  .project {
    max-width: 450px;
    width: 450px;
  }

  .project img {
    width: 450px;
  }

  .container {
    margin-top: 150px;
  }

}

@media only screen and (max-width: 487px) {

  .alex {
    position: relative;
    margin-top: 100px;
  }

  .project {
    max-width: 250px;
    width: 250px;
  }

  .project img {
    width: 250px;
  }

}